

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(30, 30, 30);
  
}


h1 {
    font-size: 42px;
    text-align: center;
    width: 600px;
    height: 100px;
    background-color: rgb(63, 63, 63);
    color: rgb(144,144,144);
    margin-bottom: 0; /* Add this line to remove the margin-bottom */
    margin-top: 0; /* Add this line to remove the margin-bottom */
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line for vertical centering */
}
h3{
    color: rgb(144,144,144);
    font-size: 20px;
}
p{
    max-width: 600px; /* You can adjust the value to your desired maximum width */
    margin: 0 auto; 
    font-size: 17px;
    color: rgb(144,144,144);
}


.centered-text {
    text-align: center;
}
a {
    width: 600px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(63, 63, 63);
    color: rgb(144,144,144);
    margin: 0; /* Set margin to zero */
    padding: 0; /* Set padding to zero */

    }
   
