

body {
    display: flex;
    justify-content: center;
    background-color: grey;
}

section {
    width: 600px;
}

h1 {
    font-size: 42px;
    text-align: center;
}



.title-block {
    width: 600px;
    height: 40px;
    font-size: 10px;
    background-color: rgb(86, 85, 97);
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(255,255,255)
}

.answer-options {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(115, 114, 122);
    justify-content: space-between;
}

.answer-block {
    width: 186px;
    height: 50px;
    text-align: center;
    overflow: hidden;
}
.answer-block a {
    color: rgb(77, 74, 74);
}

.result-block {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
  
    background-color: rgb(75, 65, 70);
    color: rgb(255,255,255)


}
a {
    width: 600px;
    height: 40px;
    font-size: 30px;
    background-color: rgb(86, 85, 97);
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(255,255,255)
    }
    img{
        width: 600px;
        height: 1000px;
    }
